:root {
  --color-black-9: rgba(0, 0, 0, 0.9);
  --color-black-5: rgba(0, 0, 0, 0.5);
  --color-whitesmoke: whitesmoke;
  --color-deepskyblue: deepskyblue;
  --color-lightgreen: lightgreen;
  --color-yellow: yellow;
  --color-red: red;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(assets/images/bg.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: monospace, sans-serif;
  cursor: default;
  user-select: none;
}

/*--------------------------------- Tutorial Section: */
#tutorial-section {
  position: fixed;
  top: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  width: 50vw;
  height: 6rem;
  padding: 0.5rem 0.5rem 1.5rem 0.5rem;
  border: 2px dashed var(--color-deepskyblue);
  border-radius: 0.5rem;
  background-color: var(--color-black-9);
  z-index: 10;
}

#tutorial-section h2 {
  color: var(--color-whitesmoke);
  font-size: 1.5rem;
}

#tutorial-section button {
  margin-bottom: 0.5rem;
  padding: 0.25rem 0.5rem;
	font-size: 1rem;
  font-weight: bold;
	border: none;
	border-radius: 0.25rem;
  background-color: var(--color-deepskyblue);
	transition: 0.3s ease-in-out;
}
#tutorial-section button:hover {
  letter-spacing: 0.2rem;
  cursor: pointer;
}

/*--------------------------------- Choose Level Section: */
.level-section {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  width: 8rem;
  height: 12rem;
  padding: 0.25rem 0.25rem 1rem 0.25rem;
  border: 2px solid var(--color-whitesmoke);
  border-radius: 0.25rem 1rem 1rem 1rem;
  background-color: var(--color-black-5);
}

.level-section h2 {
	margin-bottom: auto;
	font-size: 1.5rem;
	color: var(--color-whitesmoke);
}

.level-btn {
	padding: 0.25rem 0.5rem;
	font-size: 1rem;
	border: none;
	border-radius: 0.25rem;
	transition: 0.3s ease-in-out;
  font-family: monospace, sans-serif;
}
.level-btn:hover {
	letter-spacing: 0.2rem;
  cursor: pointer;
}

.easy-btn {
	background-color: var(--color-lightgreen);
}
.normal-btn {
	background-color: var(--color-yellow);
}
.hard-btn {
	background-color: var(--color-red);
}

/*--------------------------------- Mainboard Section: */
.banner {
  color: var(--color-whitesmoke);
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.results {
  position: absolute;
  top: 1rem;
  right: 1rem;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  color: var(--color-whitesmoke);
}

.game-board {
  display: flex;
  flex-wrap: wrap;
  width: 37.5rem;
  height: 37.5rem;
  padding: 0.25rem;
  border: 2px solid var(--color-whitesmoke);
  border-radius: 0.25rem;
  background-color: var(--color-black-5);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50rem 50rem;
}

.game-board div {
  width: 2.5rem;
  height: 2.5rem;
}

.invader {
  background-image: url(assets/images/invader.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.5rem 2.5rem;
}

.shooter {
  box-sizing: border-box;
  background-image: url(assets/images/spaceship.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.5rem 2.5rem;
}

.laser {
  box-sizing: border-box;
  background-image: url(assets/images/laser.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.5rem 2.5rem;
  border: none;
}

.boom {
  box-sizing: border-box;
  background-image: url(assets/images/boom.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.5rem 2.5rem;
  border: none;
}
