:root {
  --color-black-9: rgba(0, 0, 0, 0.9);
  --color-black-5: rgba(0, 0, 0, 0.5);
  --color-whitesmoke: whitesmoke;
  --color-deepskyblue: deepskyblue;
  --color-lightgreen: lightgreen;
  --color-yellow: yellow;
  --color-red: red;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(assets/images/bg.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

#tutorial-section {
  position: fixed;
  top: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  width: 50vw;
  height: 100px;
  padding: 5px 5px 20px 5px;
  border: 2px dashed var(--color-whitesmoke);
  border-radius: 10px;
  background-color: var(--color-black-9);
  z-index: 10;
}

#tutorial-section h2 {
  color: var(--color-whitesmoke);
  font-size: 24px;
}

#tutorial-section button {
  padding: 5px 10px;
	font-size: 20px;
	border: none;
	border-radius: 5px;
  background-color: var(--color-deepskyblue);
	transition: 0.3s ease-in-out;
}

#level-section {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  width: 200px;
  height: 200px;
  padding: 5px 5px 20px 5px;
  border: 2px solid var(--color-whitesmoke);
  border-radius: 2px 20px 20px 20px;
  background-color: var(--color-black-5);
}

#level-section h2 {
	margin-bottom: auto;
	font-size: 28px;
	color: var(--color-whitesmoke);
}

.level-btn {
	padding: 5px 10px;
	font-size: 20px;
	border: none;
	border-radius: 5px;
	transition: 0.3s ease-in-out;
}
.level-btn:hover {
	transform: scale(1.1);
	filter: brightness(0.9);
}

#easy-btn {
	background-color: var(--color-lightgreen);
}
#normal-btn {
	background-color: var(--color-yellow);
}
#hard-btn {
	background-color: var(--color-red);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  padding: 5px;
  border: 2px solid var(--color-whitesmoke);
  border-radius: 5px;
  background-color: var(--color-black-5);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 800px 800px;
}

h1 {
  color: var(--color-whitesmoke);
}

.grid div {
  width: 40px;
  height: 40px;
}

.invader {
  background-image: url(assets/images/invader.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
}

.shooter {
  box-sizing: border-box;
  background-image: url(assets/images/spaceship.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
}

.laser {
  box-sizing: border-box;
  background-image: url(assets/images/laser.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  border: none;
}

.boom {
  box-sizing: border-box;
  background-image: url(assets/images/boom.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  border: none;
}
